.button1{
    color: aliceblue;
    background-color: navy;
    text-align: right;
    position: relative;
    left: 1000px;

}

.button2 {
    color: aliceblue;
    background-color: navy;
    text-align: center;
    position: static;
    position: relative;
    left: 580px;

}

.judul {
    color: navy;
}

.judultengah {
    color: navy;
    text-align: center;
}

h3{
    color: navy;
}

h1{
    color: navy;
}

a{
    text-align: center;
    color: navy;
}
h2{
    font-size: medium;
    font-weight: bolder;
    color: navy;
}

img.tengah{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

#tabel1, tr, td {
    border: 0px solid #999;
    padding: 20px 20px 20px 20px;
    margin-left: 100px;
}

#tabel2 {
    border: 0px solid #999;
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
}


.td1 {
    text-align: right;
}

.td2 {
    border: 1px;
}

.syarat {
    color: navy;
    font-style: italic;
    text-decoration: underline;
}